# Example board (STM32H753ZI) configuration

# Copyright (c) 2021 Blue Clover Devices
# SPDX-License-Identifier: Apache-2.0

if BOARD_EXAMPLE_BOARD

configdefault ETH_DRIVER
	default y

endif # BOARD_EXAMPLE_BOARD
